body {
  background: #1B1726;
  font-family: 'Courier New', Courier, monospace;
  color-scheme: dark;
  color: white;
}

h2 {
  font-size: 50px;
}

p {
  font-size: 30px;
}

b,
a {
  color: #DCB9FC;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  gap: 30px;
}

#app>* {
  width: min(80%, 1000px);
  text-align: center;
  padding: 20px;
  background-color: #211D2B;
  border-radius: 5px;
  margin: 0;
  padding: 15px;
}

.dot {
  animation: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) dotRepeat infinite;
}

@keyframes dotRepeat {

  0%,
  33%,
  67%,
  100% {
    opacity: 1;
  }

  34%,
  66% {
    opacity: 0;
  }
}